#pane_top{
	-fx-background-color: #4d5463;
}
#label_title{
	-fx-text-fill: white;
}
#anchorpane_center, #anchorpane_left, #anchorpane_right{
	-fx-border-style: dotted;
}
#btn_save, #btn_add_new{
	-fx-background-color: #0b824e;
}
#btn_edit{
	-fx-background-color: orange;
}
#btn_delete{
	-fx-background-color: red;
}
#btn_print_preview{
	-fx-background-color: rgb(54,119,171);
}

.jfx-button{
	-fx-opacity: 0.9;
	-fx-text-fill: white;
}
.jfx-button:hover{
	-fx-opacity: 1;
}
#btn_position{
	-fx-text-fill: black;
}